{
  "openapi": "3.0.1",
  "info": {
    "title": "Warehouse Transfer",
    "description": "Warehouse Transfer v2",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://eu-api.linnworks.net/v2/",
      "description": "EU Server"
    },
    {
      "url": "https://eu-api.linnworks.net/v2/",
      "description": "US Server"
    },
    {
      "url": "https://eu-api.linnworks.net/v2/",
      "description": "AS Server"
    }
  ],
  "paths": {
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/content-update-previews": {
      "get": {
        "tags": [
          "ContentUpdatePreview"
        ],
        "summary": "Get",
        "description": "Used to retrieve generated content update previews for given shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentUpdatePreviewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/content-update-previews/{contentUpdatePreviewId}/confirm": {
      "post": {
        "tags": [
          "ContentUpdatePreview"
        ],
        "summary": "Confirm",
        "description": "Used to confirm content update preview for given shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contentUpdatePreviewId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/content-update-previews/generate": {
      "post": {
        "tags": [
          "ContentUpdatePreview"
        ],
        "summary": "Generate",
        "description": "Used to generate content update previews for given shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ContentUpdatePreviewRequestModel"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ContentUpdatePreviewRequestModel"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ContentUpdatePreviewRequestModel"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ContentUpdatePreviewRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "GetMetaData",
        "description": "Used to get metadata",
        "responses": {
          "500": {
            "description": "Server Error"
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewMetaDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/operations/{operationId}": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "GetOperationById",
        "description": "Used to retrieve operation by given id",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "GetOperationByEntityIdType",
        "description": "Used to retrieve operation by given type and id",
        "parameters": [
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "operationType",
            "in": "query",
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14
              ],
              "type": "integer",
              "description": "Possible values are:  None=0; CreatingShippingPlan=1; GeneratingPackingOptions=2; ConfirmingPackingOptions=3; GeneratingPlacementOptions=4; ConfirmingPlacementOptions=5; GeneratingTransportOptions=6; ConfirmingTransportOptions=7; GeneratingDeliveryWindows=8; ConfirmingDeliveryWindows=9; SettingPackingInfo=10; UpdateShipmentTrackingDetails=11; GeneratingContentUpdatePreview=12; ConfirmingContentUpdatePreview=13; SetPrepDetails=14;",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/operations/latest": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "GetOperationLatestByEntityIdTypes",
        "description": "Used to retrieve latest operation by given type and id",
        "parameters": [
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "operationTypes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10,
                  11,
                  12,
                  13,
                  14
                ],
                "type": "integer",
                "description": "Possible values are:  None=0; CreatingShippingPlan=1; GeneratingPackingOptions=2; ConfirmingPackingOptions=3; GeneratingPlacementOptions=4; ConfirmingPlacementOptions=5; GeneratingTransportOptions=6; ConfirmingTransportOptions=7; GeneratingDeliveryWindows=8; ConfirmingDeliveryWindows=9; SettingPackingInfo=10; UpdateShipmentTrackingDetails=11; GeneratingContentUpdatePreview=12; ConfirmingContentUpdatePreview=13; SetPrepDetails=14;",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/packing-groups": {
      "get": {
        "tags": [
          "PackingGroup"
        ],
        "summary": "Get",
        "description": "Used to retrieve packing group for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetPackingGroupModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/packing-groups/{packingGroupId}": {
      "get": {
        "tags": [
          "PackingGroup"
        ],
        "summary": "GetShipmentBoxItemsByPackingGroup",
        "description": "Used to retrieve box items for given packing group",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "packingGroupId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxItemExtendedModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/packing-options": {
      "get": {
        "tags": [
          "PackingOption"
        ],
        "summary": "Get",
        "description": "Used to retrieve generated packing options for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackingOptionModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/packing-options/{optionId}/confirm": {
      "post": {
        "tags": [
          "PackingOption"
        ],
        "summary": "Confirm",
        "description": "Used to confirm packing options for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "optionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/packing-options/generate": {
      "post": {
        "tags": [
          "PackingOption"
        ],
        "summary": "Generate",
        "description": "Used to generate packing options for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/placement-options": {
      "get": {
        "tags": [
          "PlacementOption"
        ],
        "summary": "Get",
        "description": "Used to retrieve generated placement options for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlacementOptionModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/placement-options/{optionId}/confirm": {
      "post": {
        "tags": [
          "PlacementOption"
        ],
        "summary": "Confirm",
        "description": "Used to confirm placement option for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "optionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/placement-options/generate": {
      "post": {
        "tags": [
          "PlacementOption"
        ],
        "summary": "Generate",
        "description": "Used to generate placement options for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/boxes": {
      "post": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "AddShipmentBoxes",
        "description": "Used to add boxes to shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxModel"
                }
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxModel"
                }
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxModel"
                }
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "UpdateShipmentBoxes",
        "description": "Used to update boxes",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxModel"
                }
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxModel"
                }
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxModel"
                }
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "GetShipmentBoxes",
        "description": "Used to retrieve boxes for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/boxes/{shipmentBoxId}": {
      "delete": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "DeleteShipmentBoxes",
        "description": "Used to remove box from shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentBoxId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/boxes/{shipmentBoxId}/tracking-number": {
      "patch": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "UpdateShipmentBoxTrackingDetail",
        "description": "Used to update tracking details for given box",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentBoxId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "string"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "string"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/boxes/{shipmentId}": {
      "get": {
        "tags": [
          "ShipmentBox"
        ],
        "summary": "GetShipmentBoxesByShipmentId",
        "description": "Used to retrieve shipment boxes",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/box-items": {
      "post": {
        "tags": [
          "ShipmentBoxItem"
        ],
        "summary": "AddShipmentBoxItems",
        "description": "Used to add box to shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxItemModel"
                }
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxItemModel"
                }
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxItemModel"
                }
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddShipmentBoxItemModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxItemExtendedModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "ShipmentBoxItem"
        ],
        "summary": "UpdateShipmentBoxItems",
        "description": "Used to specify number of items in shipment boxes",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxItemModel"
                }
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxItemModel"
                }
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxItemModel"
                }
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateShipmentBoxItemModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxItemExtendedModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ShipmentBoxItem"
        ],
        "summary": "DeleteShipmentBoxItems",
        "description": "Used to remove items from shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentBoxItemIds",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "ShipmentBoxItem"
        ],
        "summary": "GetShipmentBoxItems",
        "description": "Used to retrieve box items for given shipping plan",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentBoxItemExtendedModel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/delivery-window-options": {
      "get": {
        "tags": [
          "ShipmentDeliveryWindowOptions"
        ],
        "summary": "ListDeliveryWindowOptions",
        "description": "Retrieves generated shipment delivery window options from Amazon",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListDeliveryWindowOptionResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/delivery-window-options/generate": {
      "post": {
        "tags": [
          "ShipmentDeliveryWindowOptions"
        ],
        "summary": "GenerateDeliveryWindowOptions",
        "description": "Generates available delivery window options for a given shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/{shipmentId}/delivery-window-options/{deliveryWindowOptionId}/confirm": {
      "post": {
        "tags": [
          "ShipmentDeliveryWindowOptions"
        ],
        "summary": "ConfirmDeliveryWindowOptions",
        "description": "Confirms the delivery window option for given shipment",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "deliveryWindowOptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items": {
      "post": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "CreateShipmentItemBatch",
        "description": "Used to create shipment items",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentItemInBulkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "DeleteShipmentItem",
        "description": "Used to delete specific shipment items",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequestInput"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequestInput"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequestInput"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShipmentItemRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "GetShipmentItems",
        "description": "Used to retrieve shipping plan items",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "query",
            "schema": {
              "maxItems": 200,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/{shipmentItemId}": {
      "put": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "UpdateShipmentItem",
        "description": "Used to update shipping plan item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequestInput"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequestInput"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequestInput"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/{shipmentItemId}/quantity": {
      "patch": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "UpdateQuantity",
        "description": "Used to update item quantity",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shipmentItemId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentItemResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/prep-instructions/prep-owner": {
      "put": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "UpdateShipmentItemPrepOwner",
        "description": "Used to specify who will prepare item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepOwnerRequestInput"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepOwnerRequestInput"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepOwnerRequestInput"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemPrepOwnerRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentItemResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/prep-instructions/label-owner": {
      "put": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "UpdateShipmentItemLabelOwner",
        "description": "Used to specify who will label item",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemLabelOwnerRequestInput"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemLabelOwnerRequestInput"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemLabelOwnerRequestInput"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentItemLabelOwnerRequestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentItemResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/import": {
      "post": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "ImportItems",
        "description": "Used to import items",
        "parameters": [
          {
            "name": "shippingPlanId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ImportShipmentItemsRequest"
              }
            },
            "application/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ImportShipmentItemsRequest"
              }
            },
            "text/json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ImportShipmentItemsRequest"
              }
            },
            "application/*+json; x-api-version=2.0": {
              "schema": {
                "$ref": "#/components/schemas/ImportShipmentItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportShipmentItemsResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Linnworks": [ ]
          }
        ]
      }
    },
    "/warehousetransfer/fba-inbound/shipping-plans/{shippingPlanId}/shipments/items/prep-categories": {
      "put": {
        "tags": [
          "ShipmentItem"
        ],
        "summary": "SetPrepDetails",
        "description": "Used to update items' prep categories",
        "parameters": [
          {
[...]
